body {
    background: #fff;
    font-family:"Roboto", sans-serif;
    color: #434455;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}  


a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

ul, ol {
    list-style-type: none;
}

.section-navigation {
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}

.list-navigation li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.navigation {
display: flex;
align-items: center;
}

.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;
        display: inline-block;
}

.logo-hdr {
   color: #2e2f42;
}

.list-navigation {
    display: flex;
    gap: 40px;
    text-align: center;
    padding-left: 0;
    margin: 0;
}

.list-navigation li:first-child .nav-link {
    color: #404bbf;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.list-navigation li:hover {
    color: #404bbf;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.nav-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.contact {
    font-style: normal;
}

.list-address {
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            gap: 40px;
            margin-left: 332px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link-address {
display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:hover, .link-address:focus {
    color: #404bbf;
}


.section-button {
    background-image:
        linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/photo11.jpg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1440px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.title-section-button {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto 48px auto;
    max-width: 496px;
}

.button {
    background-color: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: 0;
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

.button:focus, .button:hover {
    background-color: #404bbf;
}

.section-description {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin: 0 auto 8px;
    padding: 24px;
    box-sizing: border-box;
}

.icon {
    width: 64px;
    height: 64px;
}

.list-description {
    display: flex;
    width: 1128px;
    margin: 0 auto;
    gap: 24px;
    padding-left: 0;
}

.list {
    width: calc((100% - 3 * 24px) / 4);
    width: 264px;
}

.title-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 8px;
}

.description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}
 
.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
    display: block;

}

.title-team {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin: 0;
        margin-bottom: 72px;
}
.list-section-team {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 24px;

   }
    

.list-team {
    margin: 0;
    margin-bottom: 72px;
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        ;
}

.box-list-team {
padding: 32px 0 32px;
margin-left: 16px;

}

.title-list-team {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
        margin-top: 0;
}

.description-list-team {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.link {
    padding-left: 0;
    display: flex;
    gap: 24px;
    margin: 0;
    justify-content: center;
}

.link-team {
    width: 40px;
    height: 40px;
    justify-content: center;
}



.link-social-team {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-team:hover,
.link-social-team:focus {
    background-color: #404bbf;
    outline: none;
}

.icon-team {
    fill: #F4F4FD;
    justify-content: center;
   
}

.section-portfolio {
    display: flex;
    padding: 120px 0;
}


.title-portfolio {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        
}

.list-portfolio {
    display: flex;
    margin-top: 72px;
    margin-bottom: 120px;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0;
    row-gap: 48px;
    
}

.description-portfolio {
    justify-content: center;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}

.image-container {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    margin: 0;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-weight: 400;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-portfolio:hover .overlay-text {
    transform: translateY(0%);
}

.box-discription-portfolio {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.title-list-portfolio {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-top: 0;
        margin-bottom: 8px;
}

.description-portfolio {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.description-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
 }

.box-footer {
    display: flex;
    align-items: baseline;
}

.box-logo-footer {
    margin-right: 120px;
}

.logo-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-ftr {
    color: #f4f4fd;
}

.description-footer {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #2e2f42;
    max-width: 264px;
    margin: 0;
}

.social-media-block {

}



.social-media-title {
    color: #ffffff;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.link-footer {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            gap: 16px;
            padding: 0;
}

.link-social-footer {
    width: 40px;
    height: 40px;
}

.link-social-team-footer {
background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-team-footer:hover,
.link-social-team-footer:focus {
    background-color: #31d0aa;
    outline: none;
}

.icon-team-footer {
    fill: #F4F4FD;
     width: 40px;
}

.social-title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

